<%= game_state(@tally.game_state) %>

<p>
  Turns left: <%= @tally.turns_left %>
</p>

<p>
  Words so far: <%= letters(@tally.letters) %>
</p>

<%= if game_over?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [ as: :make_move, method: :put, class: "form-inline" ], fn f -> %>
    <%= text_input(f, :guess, class: "form-control") %>
    <%= submit("Make next move", class: "btn btn-primary") %>
  <% end) %>
<% end %>
